<mat-dialog-content class="mat-typography">
  <form
    [formGroup]="formSubjects"
    action="/regisrstudent"
    method="post"
    (ngSubmit)="onSubmitSubjects()"
  >
  <mat-form-field class="example-full-width">
    <mat-label for="search-box">Предмет</mat-label>
    <input formControlName="subject" matInput type="text" id="subject" />
    <mat-hint
      *ngIf="
        formSubjects.get('subject').invalid &&
        formSubjects.get('subject').touched"
      >Поле предмет не должно быть пустым</mat-hint
    >
  </mat-form-field>
    <br />
    <mat-dialog-actions align="end">
      <button
        mat-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        type="submit"
        id="submitDetails"
        name="submitDetails"
        [disabled]="formSubjects.invalid"
      >
        Сохранить
      </button>
      <button mat-button mat-dialog-close>Отмена</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
