<mat-dialog-content class="mat-typography">
    <form
      [formGroup]="formAdministrators"
      action="/regisrstudent"
      method="post"
      (ngSubmit)="onSubmitAdministrators()"
    >
      <mat-form-field class="example-full-width">
        <mat-label for="search-box">Ф.И.О.</mat-label>
        <input formControlName="FIO" matInput type="text" id="FIO" />
        <mat-hint
          *ngIf="
          formAdministrators.get('FIO').invalid && formAdministrators.get('FIO').touched
          "
          >Поле Ф.И.О. не должно быть пустым</mat-hint
        >
      </mat-form-field>
      <br />
      <br />
  
      <mat-form-field class="example-full-width">
        <mat-label for="search-box">Логин:</mat-label>
        <input formControlName="username" matInput type="text" id="username" />
        <mat-hint
          *ngIf="
          formAdministrators.get('username').invalid &&
            formAdministrators.get('username').touched
          "
          >Поле логин не должно быть пустым
        </mat-hint>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field class="example-full-width">
        <mat-label for="search-box">Пароль:</mat-label>
        <input
          formControlName="password"
          matInput
          type="password"
          id="password"
          placeholder="Пароль"
          [ngClass]="{
            invalid:
            formAdministrators.get('password').invalid &&
            formAdministrators.get('password').touched
          }"
        />
        <mat-hint
          *ngIf="
          formAdministrators.get('password').invalid &&
          formAdministrators.get('password').touched
          "
        >
          <mat-hint *ngIf="formAdministrators.get('password').errors['required']"
            >Пароль не должен быть пустым
          </mat-hint>
          <mat-hint
            *ngIf="
            formAdministrators.get('password').errors['minlength'] &&
            formAdministrators.get('password').errors['minlength']['requiredLength']
            "
          >
            Поле пароль должно быть меньше 3 символов.
          </mat-hint>
        </mat-hint>
      </mat-form-field>
      <br />
  
      <mat-dialog-actions align="end">
        <button
          mat-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          type="submit"
          id="submitDetails"
          name="submitDetails"
          [disabled]="formAdministrators.invalid"
        >
          Сохранить
        </button>
        <button mat-button mat-dialog-close>Отмена</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
  