<mat-dialog-content class="mat-typography">
    <form
      [formGroup]="formAdministrators"
      action="/regisrstudent"
      method="post"
      (ngSubmit)="onSubmitAdministrators()"
    >
      <mat-form-field class="example-full-width">
        <mat-label for="search-box">Фамилия</mat-label>
        <input formControlName="surname" matInput type="text" id="surname" />
        <mat-hint
          *ngIf="
          formAdministrators.get('surname').invalid && formAdministrators.get('surname').touched
          "
          >Поле фамилия не должно быть пустым</mat-hint
        >
      </mat-form-field>
      &nbsp;
      <mat-form-field class="example-full-width">
        <mat-label for="search-box">Имя</mat-label>
        <input formControlName="name" matInput type="text" id="name" />
        <mat-hint
          *ngIf="
          formAdministrators.get('name').invalid && formAdministrators.get('name').touched
          "
          >Поле имя не должно быть пустым</mat-hint
        >
      </mat-form-field>
      <br />
      <br />
      <mat-form-field class="example-full-width">
        <mat-label for="search-box">Отчество</mat-label>
        <input formControlName="patronymic" matInput type="text" id="patronymic" />
        <mat-hint
          *ngIf="
          formAdministrators.get('patronymic').invalid && formAdministrators.get('patronymic').touched
          "
          >Поле отчество не должно быть пустым</mat-hint
        >
      </mat-form-field>
      &nbsp;
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          [formControl]="emailFormControl"
          [errorStateMatcher]="matcher"
          placeholder="pat@example.com"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
        Введите правильную форму email
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Поле email не заполнено
        </mat-error>
      </mat-form-field>
    <br/>
    <br/>
  
      <mat-form-field class="example-full-width">
        <mat-label for="search-box">Логин:</mat-label>
        <input formControlName="username" matInput type="text" id="username" />
        <mat-hint
          *ngIf="
          formAdministrators.get('username').invalid &&
            formAdministrators.get('username').touched
          "
          >Поле логин не должно быть пустым
        </mat-hint>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field class="example-full-width">
        <mat-label for="search-box">Пароль:</mat-label>
        <input
          formControlName="password"
          matInput
          type="password"
          id="password"
          placeholder="Пароль"
          [ngClass]="{
            invalid:
            formAdministrators.get('password').invalid &&
            formAdministrators.get('password').touched
          }"
        />
        <mat-hint
          *ngIf="
          formAdministrators.get('password').invalid &&
          formAdministrators.get('password').touched
          "
        >
          <mat-hint *ngIf="formAdministrators.get('password').errors['required']"
            >Пароль не должен быть пустым
          </mat-hint>
          <mat-hint
            *ngIf="
            formAdministrators.get('password').errors['minlength'] &&
            formAdministrators.get('password').errors['minlength']['requiredLength']
            "
          >
            Поле пароль должно быть меньше 3 символов.
          </mat-hint>
        </mat-hint>
      </mat-form-field>
      <br />
  
      <mat-dialog-actions align="end">
        <button
          mat-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          type="submit"
          id="submitDetails"
          name="submitDetails"
          [disabled]="formAdministrators.invalid"
        >
          Сохранить
        </button>
        <button mat-button mat-dialog-close>Отмена</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
  