<style></style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Welcome to school remote testing</span>
</div>

<div class="content" role="main">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-md-6 main">
        <form action="/sign_in" method="post">
          <h1>Login form</h1>
          <mat-form-field class="example-full-width">
            <mat-label for="search-box"> Enter login: </mat-label>
            <input
              matInput
              class="box"
              type="text"
              name="name"
              id="name"
              placeholder="Ex. Administrator"
              required
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label for="search-box">Enter password:</mat-label>
            <input
              matInput
              class="box"
              type="password"
              name="password"
              id="password"
              placeholder="Password "
              minlength="4"
              required
            />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            id="submitDetails"
            name="submitDetails"
            value="Submit"
            class="password"
          >
            Sign in
          </button>
        </form>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
