<mat-dialog-content class="mat-typography">
  <form
    [formGroup]="formStudents"
    action="/regisrstudent"
    method="post"
    (ngSubmit)="onSubmitStudents()"
  >
    <mat-form-field class="example-full-width">
      <mat-label for="search-box">Фамилия</mat-label>
      <input formControlName="surname" matInput type="text" id="surname" />
      <mat-hint
        *ngIf="
          formStudents.get('surname').invalid &&
          formStudents.get('surname').touched
        "
        >Поле фамилия не должно быть пустым</mat-hint
      >
    </mat-form-field>
    &nbsp;
    <mat-form-field class="example-full-width">
      <mat-label for="search-box">Имя</mat-label>
      <input formControlName="name" matInput type="text" id="name" />
      <mat-hint
        *ngIf="
          formStudents.get('name').invalid && formStudents.get('name').touched
        "
        >Поле имя не должно быть пустым</mat-hint
      >
    </mat-form-field>
    <br />
    <br />

    <mat-form-field class="example-full-width">
      <mat-label for="search-box">Отчество</mat-label>
      <input
        formControlName="patronymic"
        matInput
        type="text"
        id="patronymic"
      />
      <mat-hint
        *ngIf="
          formStudents.get('patronymic').invalid &&
          formStudents.get('patronymic').touched
        "
        >Поле отчество не должно быть пустым</mat-hint
      >
    </mat-form-field>
    &nbsp;
  
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Введите правильную форму email
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Поле email не заполнено
      </mat-error>
    </mat-form-field>
    <br />
    <br />
    <mat-form-field appearance="fill">
      <mat-label for="search-box">Цифра класса</mat-label>
      <mat-select>
        <mat-option *ngFor="let option of class" [value]="option.id"
          >{{ option.class }}
        </mat-option>
      </mat-select>
    </mat-form-field>
   
    <br />

    <mat-form-field class="example-full-width">
      <mat-label for="search-box">Логин:</mat-label>
      <input formControlName="username" matInput type="text" id="username" />
      <mat-hint
        *ngIf="
          formStudents.get('username').invalid &&
          formStudents.get('username').touched
        "
        >Поле логин не должно быть пустым
      </mat-hint>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="example-full-width">
      <mat-label for="search-box">Пароль:</mat-label>
      <input
        formControlName="password"
        matInput
        type="password"
        id="password"
        [ngClass]="{
          invalid:
            formStudents.get('password').invalid &&
            formStudents.get('password').touched
        }"
      />
      <mat-hint
        *ngIf="
          formStudents.get('password').invalid &&
          formStudents.get('password').touched
        "
      >
        <mat-hint *ngIf="formStudents.get('password').errors['required']"
          >Поле пароль не должно быть пустым
        </mat-hint>
        <mat-hint
          *ngIf="
            formStudents.get('password').errors['minlength'] &&
            formStudents.get('password').errors['minlength']['requiredLength']
          "
        >
          Поле пароль должно быть меньше 3 символов.
        </mat-hint>
      </mat-hint>
    </mat-form-field>

    <br />
    <mat-dialog-actions align="end">
      <button
        mat-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        type="submit"
        id="submitDetails"
        name="submitDetails"
        [disabled]="formStudents.invalid"
      >
        Сохранить
      </button>
      <button mat-button mat-dialog-close>Отмена</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
